[submodule "integrations/github"]
	path = integrations/github
	url = https://github.com/JervNorsk/jnt-github.git
[submodule "integrations/blender"]
	path = integrations/blender
	url = https://github.com/JervNorsk/jnt-blender.git
[submodule "integrations/gradle"]
	path = integrations/gradle
	url = https://github.com/JervNorsk/jnt-gradle.git
[submodule "integrations/comfyui"]
	path = integrations/comfyui
	url = https://github.com/JervNorsk/jnt-comfyui.git
[submodule "integrations/pixel-composer"]
	path = integrations/pixel-composer
	url = https://github.com/JervNorsk/jnt-pixel-composer.git
